<link href="/css/style.css" rel="stylesheet" type="text/css" />
<div class="container">
  <h1 class="dashboard-title">This is your content!</h1>
  <form action="/">
    <button type="submit" class="btn-main">View your dashboard.</button>
  </form>
</div>
